<div class="paywall-container">
  <div class="paywall-picture"></div>
  <div class="title">Listening is a new black</div>
  <div class="subtitle">Save, manage and listen to any content in a convenient way and at any time</div>
  <div class="content-title">What our users say</div>
  <div class="list-container">
    <div class="review">
      <div class="review-header">
        <div class="review-author">Alena Mango</div>
        <div class="review-stars">●●●●●</div>
      </div>
      <div class="review-text">Hong Kong Phooey, number one super guy. Hong Kong Phooey, quicker than the human eye. He’s got style, a groovy style, and a car that just won’t stop.</div>
    </div>
    <div class="review">
      <div class="review-header">
        <div class="review-author">Justin Geidt</div>
        <div class="review-stars">●●●●●</div>
      </div>
      <div class="review-text">When the going gets tough, he’s really rough, with a Hong Kong Phooey chop (Hi-Ya!). Hong Kong Phooey, number one super guy.</div>
    </div>
    <div class="review">
      <div class="review-header">
        <div class="review-author">Ashlynn Levin</div>
        <div class="review-stars">●●●●◐</div>
      </div>
      <div class="review-text">Top Cat! The most effectual Top Cat! Who’s intellectual close friends get to call him T.C., providing it’s with dignity. </div>
    </div>
  </div>
  <button class="purchase-button primary-button" (click)="subscribeButtonClicked()">Start your free trial</button>
  <div class="content-title">Start growing with Peech now</div>
  <div class="list-container">
    <div class="stats">
      <div class="stats-icon">👑</div>
      <div class="stats-title">24 Million</div>
      <div class="stats-text">Downloads on all platforms</div>
    </div>
    <div class="stats">
      <div class="stats-icon">⭐️</div>
      <div class="stats-title">4.6 Stars</div>
      <div class="stats-text">Average ratings on iOS and Google Play</div>
    </div>
    <div class="stats">
      <div class="stats-icon">🌈</div>
      <div class="stats-title">91%</div>
      <div class="stats-text">Of Peech members create a better reading habit*</div>
    </div>
  </div>
  <div class="hint">*Based on survey data from Peech users</div>
  <button class="purchase-button primary-button" (click)="subscribeButtonClicked()">Start your free trial</button>
  <div class="content-title">More knowledge in less time</div>
  <div class="list-container">
    <div class="insight">
      <div class="insight-icon">🎧</div>
      <div class="insight-title">Read or listen</div>
      <div class="insight-text">Get the key ideas from nonfiction bestsellers in minutes, not hours.</div>
    </div>
    <div class="insight">
      <div class="insight-icon">💡</div>
      <div class="insight-title">Find your next read</div>
      <div class="insight-text">Get book lists curated by experts and personalized recommendations.</div>
    </div>
    <div class="insight">
      <div class="insight-icon">🎙</div>
      <div class="insight-title">Shortcasts</div>
      <div class="insight-text">We’ve teamed up with podcast creators to bring you key insights from podcasts.</div>
    </div>
  </div>
  <div class="subscription-info">
    <div class="subscription-text">Enjoy unlimited access for 7 days. Love it and keep investing in yourself for only $7.49 a month, or simply cancel before December 4 and you won’t ever be charged.</div>
    <button class="purchase-button primary-button" (click)="subscribeButtonClicked()">Start your free trial</button>
  </div>
</div>
