.top-image {
    max-width: 240px;

    @media (min-width: 576px) {
        max-width: 340px;
    }
}

// .image {
//     background-size: cover; /* Cover the area of the container */
//     background-position: center; /* Center the image within the container */
//     background-repeat: no-repeat; /* Do not repeat the image */
//     width: 100%;
// }

.demos {
    .demo {
        gap: 24px;
    }

    .demo-text {
        font-size: 16px;
        font-weight: 400;
        text-align: justify;
        max-height: 150px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
}

.listbox-container {
    padding: 10px;

    .listbox {
        list-style: none;
        padding: 0;
        margin: 0;
        
        li {
            gap: 16px;

            i {
                font-size: 24px;
                height: 24px;
            }
        }
    }
}

a.pulsing {
    text-align: center;

    animation: pulseAnimation 2s infinite;
    transition: background-color 0.3s, color 0.3s;
}

@keyframes pulseAnimation {
    0% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(49, 188, 109, 0.7);
    }
    70% {
      transform: scale(1.05);
      box-shadow: 0 0 0 10px rgba(49, 188, 109, 0);
    }
    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(49, 188, 109, 0);
    }
}
