<div
    class="pt-30 pb-30"
>
    <div class="row align-items-center">
        <div class="col-lg-5 d-flex justify-content-center">
            <img class="top-image" src="assets/img/top2.png">
        </div>
        <div class="col-lg-7 mt-20 mb-20">
            <h1 class="display-3">Expand your fiction library into audio</h1>
            <div class="lead">People love listening to books! Unique narratives ready to bring your brand to life. Listen to our samples and discover how we can help you enter this lucrative market</div>
        </div>
    </div>

    <mat-divider class="mt-25 mb-25"></mat-divider>
    <div class="row">
        <h1 class="display-6">Demos of how <span class="main-color">your books sound</span></h1>
        <p class="lead mt-20">These are small excerpts from fully voices books, shipped to our customers</p>
    </div>
    <div class="row demos">
        <div class="col-12 col-lg-6 col-md-6 col-sm-12 p-20" *ngFor="let demo of demos">
            <div class="demo border-radius light-green-color p-20 d-flex flex-column">
                <img class="border-radius w-100" src="{{demo.imagePath}}" />
                <app-audio-track audioPath="{{demo.soundPath}}" title="{{demo.title}}"></app-audio-track>
                <div class="demo-text">{{demo.text}}</div>
            </div>
        </div>
    </div>

    <mat-divider class="mt-25 mb-25"></mat-divider>
    <div class="row">
        <h1 class="display-6">Benefits of <span class="main-color">Peech Audiobooks Production</span></h1>
        <p class="lead mt-20">High-quality, natural-sounding voiceovers powered by advanced AI</p>
    </div>
    <div class="col-12 mt-10 listbox-container">
        <ul class="listbox mt-20">
            <li class="d-flex align-items-center mb-20">
                <i class="flaticon-check-mark-1 main-color"></i>
                <span><strong class="main-color">Scale: </strong>Any amount of books, ready within days. English and pretty much any other language.</span>
            </li>
            <li class="d-flex align-items-center mb-20">
                <i class="flaticon-check-mark-1 main-color"></i>
                <span><strong class="main-color">Speed: </strong>We can handle dozens of long books in 1 day. It does not take weeks or months.</span>
            </li>
            <li class="d-flex align-items-center mb-20">
                <i class="flaticon-check-mark-1 main-color"></i>
                <span><strong class="main-color">Affordable: </strong>With AI, we keep costs way lower than traditional studios or manual voicing. We start at as low as $9.99 per hour of audio.</span>
            </li>
            <li class="d-flex align-items-center mb-20">
                <i class="flaticon-check-mark-1 main-color"></i>
                <span><strong class="main-color">Turnkey Solution: </strong>Our fully automated service offers a complete, hassle-free narration experience from start to finish. You don't need any tech guys on your side - just send us some books over and get mp3 back!</span>
            </li>
            <li class="d-flex align-items-center mb-20">
                <i class="flaticon-check-mark-1 main-color"></i>
                <span><strong class="main-color">Captivating and engaging audio: </strong>Context-related sounds effects, emotions, background noises and music, unique voiced for characters (POVs)</span>
            </li>
        </ul>
    </div>

    <div class="row justify-content-center mt-20">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <a href="mailto:andrey@getpeech.com" mat-raised-button class="pulsing tagus w-100">Contact Us</a>
        </div>
    </div>
</div>