<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peech App</title>
    <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="../assets/assets/favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet"> -->
    <meta name="facebook-domain-verification" content="mv7b5vp49ugde8r5w64byfqxsk51rd" />
    <% if (environment === 'production') { %>
        <!-- Meta Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1110330096568660');
    fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1110330096568660&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Meta Pixel Code -->
    <% } %>
</head>
<body>
    <div class="app-name-container"><div class="pech-icon"></div><div class="app-name">Peech</div></div>
    <div class="picture"></div>
    <div class="title">Enjoy your new reading superpowers</div>
    <div class="subtitle">Read or listen to anything you want whenever you want</div>
    <div class="rating-container">
        <div class="appstore-icon"></div>
        <div class="users-stats">500K+ Users</div>
        <div class="rating">●●●●◐</div>
    </div>
    <a class="store-link button" href="https://apps.apple.com/us/app/peech-text-reader-for-articles/id1429704005">Go to App Store</a>
</body>
</html>
