<div class="login-container">
  <div class="login-picture"></div>
    <div class="title">Sign Up to Peech</div>
    <div class="subtitle">So you don't lose anything</div>
    <button class="apple-button" (click)="loginClicked('apple')"><div class="apple-icon"></div>&nbsp;Sign In with Apple</button>
    <div class="buttons-container">
      <button class="facebook-button" (click)="loginClicked('facebook')"></button>
      <button class="google-button" (click)="loginClicked('google')"></button>
    </div>
</div>
